
<div class="col-md-4 col-lg-2 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <div class="list-group user">
        <a href="/admin/events" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            My Events
        </a>
        <a href="/admin/user/edit" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Edit Profile
        </a>
    </div>


    <div class="search-item-header mt-2">Super Admin</div>
    <div class="list-group admin">
        <a href="/admin/events" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Events
        </a>
        <a href="/admin/clubs" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Clubs
        </a>
        <a href="/admin/users" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Users
        </a>
    </div>
</div>