
<header class="p-3 ">
    <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start border-bottom pb-3 ">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="/static/itmo.png" height="55" />
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 ">Home</a></li>
            <li><a href="/admin" class="nav-link px-2 ">Admin</a></li>
            {% if 'username' in session %}
            <li><a href="/profile" class="nav-link px-2 ">Profile</a></li>
            {% endif %}
        </ul>

        <div class="col-md-6 text-end">
            <div class="search-box position-relative">
                <i class="bi bi-search position-absolute"></i>
                <input class="form-control" type="search">
            </div>
            
            <a href="#" class="btn btn-outline-default"><i class="fa bi-filter"></i></a>

            {% if 'username' in session %}
            <a href="#">
                <button type="button" class="btn btn-primary">Logout</button>
            </a>
            {% else %}
            <a href="/auth/sign-in" class="btn btn-outline-primary me-2">Login
            </a>
            <a href="/auth/register" class="btn btn-primary">Sign up
            </a>
            {% endif %}
        </div>
    </div>
</header>