{% extends 'base.html' %}

{% block content %}

<style>
    .login-form {
        width: 400px;
        margin: 40px auto;
        padding: 40px;
        border: 1px solid #f1f2f3;
        background-color: #6b7ff3;
        border-radius: 10px;
        box-shadow: 1px 2px 5px 2px rgb(182, 182, 182);
    }

    .login-form h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
    }

    .login-form .form-group {
        margin-bottom: 20px;
    }

    .login-form label {
        font-weight: normal;
        color: #333;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        font-size: 16px;
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #fff;
        color: #020202;
    }

    .login-form input[type="submit"] {
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #053266;
        color: #fff;
    }

    .login-form input[type="submit"]:hover {
        background-color: #0069d9;
    }

    .logo {
        display: inline-block;
        height: 100px;
        /* margin-right: 10px; */
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form" action="/auth">
                <div class="text-center"><img src="../static/logo.png" class="logo"></div>
                <h2>Login</h2>


                <form method="POST"> <!--Added method and action here-->
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Enter password" name="password">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}